/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
  background: #fff;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Anton', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1300px;
          perspective: 1300px;
  margin: 0;
}
div {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#chocolate_rains {
  -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
}
.heart .ring {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  opacity: 0;
  border: 4px solid rgb(240, 140, 140);
}
.heart .left {
  left: -20px;
  width: 20px;
  height: 20px;
  /* background: #fdbaba; */
  background: #fdbaba;
  border-radius: 100%;
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.heart .left::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 20px;
  height: 25px;
  background: #fdbaba;
  border-radius: 0 0 0 100%;
}
.heart .right {
  width: 20px;
  height: 20px;
  background: #fdbaba;
  border-radius: 100%;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.heart .right::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 20px;
  height: 25px;
  background: #fdbaba;
  border-radius: 0 0 100% 0;
}
.heart .movable {
  opacity: 0;
}
.heart .reverse {
  -webkit-transform: translateY(70px) rotateZ(180deg);
      -ms-transform: translateY(70px) rotate(180deg);
          transform: translateY(70px) rotateZ(180deg);
  opacity: 0.1;
}
.heart .reverse .left, .heart .reverse .right {
  opacity: 0.5;
}
.heart:nth-child(1) {
  -webkit-transform: translateX(485px) translateZ(-287px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(485px) translateZ(-287px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(1) .movable {
  -webkit-animation: drop 5000ms 1248ms linear infinite;
          animation: drop 5000ms 1248ms linear infinite;
}
.heart:nth-child(1) .ring {
  -webkit-animation: wave 5000ms 5148ms ease-out infinite;
          animation: wave 5000ms 5148ms ease-out infinite;
}
.heart:nth-child(1) .inner {
  -webkit-animation: rotation 2845ms linear infinite;
          animation: rotation 2845ms linear infinite;
}
.heart:nth-child(2) {
  -webkit-transform: translateX(-41px) translateZ(-584px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-41px) translateZ(-584px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(2) .movable {
  -webkit-animation: drop 5000ms -494ms linear infinite;
          animation: drop 5000ms -494ms linear infinite;
}
.heart:nth-child(2) .ring {
  -webkit-animation: wave 5000ms 3406ms ease-out infinite;
          animation: wave 5000ms 3406ms ease-out infinite;
}
.heart:nth-child(2) .inner {
  -webkit-animation: rotation 3558ms linear infinite;
          animation: rotation 3558ms linear infinite;
}
.heart:nth-child(3) {
  -webkit-transform: translateX(149px) translateZ(610px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(149px) translateZ(610px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(3) .movable {
  -webkit-animation: drop 5000ms -2764ms linear infinite;
          animation: drop 5000ms -2764ms linear infinite;
}
.heart:nth-child(3) .ring {
  -webkit-animation: wave 5000ms 1136ms ease-out infinite;
          animation: wave 5000ms 1136ms ease-out infinite;
}
.heart:nth-child(3) .inner {
  -webkit-animation: rotation 2932ms linear infinite;
          animation: rotation 2932ms linear infinite;
}
.heart:nth-child(4) {
  -webkit-transform: translateX(118px) translateZ(-129px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(118px) translateZ(-129px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(4) .movable {
  -webkit-animation: drop 5000ms 50ms linear infinite;
          animation: drop 5000ms 50ms linear infinite;
}
.heart:nth-child(4) .ring {
  -webkit-animation: wave 5000ms 3950ms ease-out infinite;
          animation: wave 5000ms 3950ms ease-out infinite;
}
.heart:nth-child(4) .inner {
  -webkit-animation: rotation 4408ms linear infinite;
          animation: rotation 4408ms linear infinite;
}
.heart:nth-child(5) {
  -webkit-transform: translateX(382px) translateZ(-98px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(382px) translateZ(-98px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(5) .movable {
  -webkit-animation: drop 5000ms 1321ms linear infinite;
          animation: drop 5000ms 1321ms linear infinite;
}
.heart:nth-child(5) .ring {
  -webkit-animation: wave 5000ms 5221ms ease-out infinite;
          animation: wave 5000ms 5221ms ease-out infinite;
}
.heart:nth-child(5) .inner {
  -webkit-animation: rotation 4089ms linear infinite;
          animation: rotation 4089ms linear infinite;
}
.heart:nth-child(6) {
  -webkit-transform: translateX(385px) translateZ(-362px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(385px) translateZ(-362px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(6) .movable {
  -webkit-animation: drop 5000ms 382ms linear infinite;
          animation: drop 5000ms 382ms linear infinite;
}
.heart:nth-child(6) .ring {
  -webkit-animation: wave 5000ms 4282ms ease-out infinite;
          animation: wave 5000ms 4282ms ease-out infinite;
}
.heart:nth-child(6) .inner {
  -webkit-animation: rotation 3529ms linear infinite;
          animation: rotation 3529ms linear infinite;
}
.heart:nth-child(7) {
  -webkit-transform: translateX(483px) translateZ(279px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(483px) translateZ(279px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(7) .movable {
  -webkit-animation: drop 5000ms -1838ms linear infinite;
          animation: drop 5000ms -1838ms linear infinite;
}
.heart:nth-child(7) .ring {
  -webkit-animation: wave 5000ms 2062ms ease-out infinite;
          animation: wave 5000ms 2062ms ease-out infinite;
}
.heart:nth-child(7) .inner {
  -webkit-animation: rotation 3540ms linear infinite;
          animation: rotation 3540ms linear infinite;
}
.heart:nth-child(8) {
  -webkit-transform: translateX(-195px) translateZ(204px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-195px) translateZ(204px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(8) .movable {
  -webkit-animation: drop 5000ms 575ms linear infinite;
          animation: drop 5000ms 575ms linear infinite;
}
.heart:nth-child(8) .ring {
  -webkit-animation: wave 5000ms 4475ms ease-out infinite;
          animation: wave 5000ms 4475ms ease-out infinite;
}
.heart:nth-child(8) .inner {
  -webkit-animation: rotation 2824ms linear infinite;
          animation: rotation 2824ms linear infinite;
}
.heart:nth-child(9) {
  -webkit-transform: translateX(-86px) translateZ(-336px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-86px) translateZ(-336px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(9) .movable {
  -webkit-animation: drop 5000ms 936ms linear infinite;
          animation: drop 5000ms 936ms linear infinite;
}
.heart:nth-child(9) .ring {
  -webkit-animation: wave 5000ms 4836ms ease-out infinite;
          animation: wave 5000ms 4836ms ease-out infinite;
}
.heart:nth-child(9) .inner {
  -webkit-animation: rotation 2386ms linear infinite;
          animation: rotation 2386ms linear infinite;
}
.heart:nth-child(10) {
  -webkit-transform: translateX(-387px) translateZ(-564px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-387px) translateZ(-564px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(10) .movable {
  -webkit-animation: drop 5000ms -2146ms linear infinite;
          animation: drop 5000ms -2146ms linear infinite;
}
.heart:nth-child(10) .ring {
  -webkit-animation: wave 5000ms 1754ms ease-out infinite;
          animation: wave 5000ms 1754ms ease-out infinite;
}
.heart:nth-child(10) .inner {
  -webkit-animation: rotation 3240ms linear infinite;
          animation: rotation 3240ms linear infinite;
}
.heart:nth-child(11) {
  -webkit-transform: translateX(-308px) translateZ(-142px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-308px) translateZ(-142px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(11) .movable {
  -webkit-animation: drop 5000ms 357ms linear infinite;
          animation: drop 5000ms 357ms linear infinite;
}
.heart:nth-child(11) .ring {
  -webkit-animation: wave 5000ms 4257ms ease-out infinite;
          animation: wave 5000ms 4257ms ease-out infinite;
}
.heart:nth-child(11) .inner {
  -webkit-animation: rotation 2705ms linear infinite;
          animation: rotation 2705ms linear infinite;
}
.heart:nth-child(12) {
  -webkit-transform: translateX(290px) translateZ(549px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(290px) translateZ(549px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(12) .movable {
  -webkit-animation: drop 5000ms -1239ms linear infinite;
          animation: drop 5000ms -1239ms linear infinite;
}
.heart:nth-child(12) .ring {
  -webkit-animation: wave 5000ms 2661ms ease-out infinite;
          animation: wave 5000ms 2661ms ease-out infinite;
}
.heart:nth-child(12) .inner {
  -webkit-animation: rotation 4410ms linear infinite;
          animation: rotation 4410ms linear infinite;
}
.heart:nth-child(13) {
  -webkit-transform: translateX(-129px) translateZ(710px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-129px) translateZ(710px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(13) .movable {
  -webkit-animation: drop 5000ms -2979ms linear infinite;
          animation: drop 5000ms -2979ms linear infinite;
}
.heart:nth-child(13) .ring {
  -webkit-animation: wave 5000ms 921ms ease-out infinite;
          animation: wave 5000ms 921ms ease-out infinite;
}
.heart:nth-child(13) .inner {
  -webkit-animation: rotation 4285ms linear infinite;
          animation: rotation 4285ms linear infinite;
}
.heart:nth-child(14) {
  -webkit-transform: translateX(423px) translateZ(552px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(423px) translateZ(552px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(14) .movable {
  -webkit-animation: drop 5000ms 1683ms linear infinite;
          animation: drop 5000ms 1683ms linear infinite;
}
.heart:nth-child(14) .ring {
  -webkit-animation: wave 5000ms 5583ms ease-out infinite;
          animation: wave 5000ms 5583ms ease-out infinite;
}
.heart:nth-child(14) .inner {
  -webkit-animation: rotation 4118ms linear infinite;
          animation: rotation 4118ms linear infinite;
}
.heart:nth-child(15) {
  -webkit-transform: translateX(321px) translateZ(770px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(321px) translateZ(770px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(15) .movable {
  -webkit-animation: drop 5000ms 1402ms linear infinite;
          animation: drop 5000ms 1402ms linear infinite;
}
.heart:nth-child(15) .ring {
  -webkit-animation: wave 5000ms 5302ms ease-out infinite;
          animation: wave 5000ms 5302ms ease-out infinite;
}
.heart:nth-child(15) .inner {
  -webkit-animation: rotation 2992ms linear infinite;
          animation: rotation 2992ms linear infinite;
}
.heart:nth-child(16) {
  -webkit-transform: translateX(-419px) translateZ(332px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-419px) translateZ(332px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(16) .movable {
  -webkit-animation: drop 5000ms -2731ms linear infinite;
          animation: drop 5000ms -2731ms linear infinite;
}
.heart:nth-child(16) .ring {
  -webkit-animation: wave 5000ms 1169ms ease-out infinite;
          animation: wave 5000ms 1169ms ease-out infinite;
}
.heart:nth-child(16) .inner {
  -webkit-animation: rotation 2338ms linear infinite;
          animation: rotation 2338ms linear infinite;
}
.heart:nth-child(17) {
  -webkit-transform: translateX(487px) translateZ(-314px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(487px) translateZ(-314px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(17) .movable {
  -webkit-animation: drop 5000ms 1927ms linear infinite;
          animation: drop 5000ms 1927ms linear infinite;
}
.heart:nth-child(17) .ring {
  -webkit-animation: wave 5000ms 5827ms ease-out infinite;
          animation: wave 5000ms 5827ms ease-out infinite;
}
.heart:nth-child(17) .inner {
  -webkit-animation: rotation 2406ms linear infinite;
          animation: rotation 2406ms linear infinite;
}
.heart:nth-child(18) {
  -webkit-transform: translateX(92px) translateZ(245px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(92px) translateZ(245px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(18) .movable {
  -webkit-animation: drop 5000ms -1663ms linear infinite;
          animation: drop 5000ms -1663ms linear infinite;
}
.heart:nth-child(18) .ring {
  -webkit-animation: wave 5000ms 2237ms ease-out infinite;
          animation: wave 5000ms 2237ms ease-out infinite;
}
.heart:nth-child(18) .inner {
  -webkit-animation: rotation 3657ms linear infinite;
          animation: rotation 3657ms linear infinite;
}
.heart:nth-child(19) {
  -webkit-transform: translateX(269px) translateZ(580px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(269px) translateZ(580px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(19) .movable {
  -webkit-animation: drop 5000ms -2670ms linear infinite;
          animation: drop 5000ms -2670ms linear infinite;
}
.heart:nth-child(19) .ring {
  -webkit-animation: wave 5000ms 1230ms ease-out infinite;
          animation: wave 5000ms 1230ms ease-out infinite;
}
.heart:nth-child(19) .inner {
  -webkit-animation: rotation 2595ms linear infinite;
          animation: rotation 2595ms linear infinite;
}
.heart:nth-child(20) {
  -webkit-transform: translateX(91px) translateZ(269px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(91px) translateZ(269px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(20) .movable {
  -webkit-animation: drop 5000ms 818ms linear infinite;
          animation: drop 5000ms 818ms linear infinite;
}
.heart:nth-child(20) .ring {
  -webkit-animation: wave 5000ms 4718ms ease-out infinite;
          animation: wave 5000ms 4718ms ease-out infinite;
}
.heart:nth-child(20) .inner {
  -webkit-animation: rotation 3034ms linear infinite;
          animation: rotation 3034ms linear infinite;
}
.heart:nth-child(21) {
  -webkit-transform: translateX(-20px) translateZ(395px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-20px) translateZ(395px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(21) .movable {
  -webkit-animation: drop 5000ms -492ms linear infinite;
          animation: drop 5000ms -492ms linear infinite;
}
.heart:nth-child(21) .ring {
  -webkit-animation: wave 5000ms 3408ms ease-out infinite;
          animation: wave 5000ms 3408ms ease-out infinite;
}
.heart:nth-child(21) .inner {
  -webkit-animation: rotation 3416ms linear infinite;
          animation: rotation 3416ms linear infinite;
}
.heart:nth-child(22) {
  -webkit-transform: translateX(-2px) translateZ(-396px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-2px) translateZ(-396px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(22) .movable {
  -webkit-animation: drop 5000ms -2060ms linear infinite;
          animation: drop 5000ms -2060ms linear infinite;
}
.heart:nth-child(22) .ring {
  -webkit-animation: wave 5000ms 1840ms ease-out infinite;
          animation: wave 5000ms 1840ms ease-out infinite;
}
.heart:nth-child(22) .inner {
  -webkit-animation: rotation 3932ms linear infinite;
          animation: rotation 3932ms linear infinite;
}
.heart:nth-child(23) {
  -webkit-transform: translateX(-75px) translateZ(78px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-75px) translateZ(78px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(23) .movable {
  -webkit-animation: drop 5000ms 240ms linear infinite;
          animation: drop 5000ms 240ms linear infinite;
}
.heart:nth-child(23) .ring {
  -webkit-animation: wave 5000ms 4140ms ease-out infinite;
          animation: wave 5000ms 4140ms ease-out infinite;
}
.heart:nth-child(23) .inner {
  -webkit-animation: rotation 2748ms linear infinite;
          animation: rotation 2748ms linear infinite;
}
.heart:nth-child(24) {
  -webkit-transform: translateX(-412px) translateZ(-470px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-412px) translateZ(-470px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(24) .movable {
  -webkit-animation: drop 5000ms 1614ms linear infinite;
          animation: drop 5000ms 1614ms linear infinite;
}
.heart:nth-child(24) .ring {
  -webkit-animation: wave 5000ms 5514ms ease-out infinite;
          animation: wave 5000ms 5514ms ease-out infinite;
}
.heart:nth-child(24) .inner {
  -webkit-animation: rotation 4951ms linear infinite;
          animation: rotation 4951ms linear infinite;
}
.heart:nth-child(25) {
  -webkit-transform: translateX(-436px) translateZ(441px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-436px) translateZ(441px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(25) .movable {
  -webkit-animation: drop 5000ms -610ms linear infinite;
          animation: drop 5000ms -610ms linear infinite;
}
.heart:nth-child(25) .ring {
  -webkit-animation: wave 5000ms 3290ms ease-out infinite;
          animation: wave 5000ms 3290ms ease-out infinite;
}
.heart:nth-child(25) .inner {
  -webkit-animation: rotation 2605ms linear infinite;
          animation: rotation 2605ms linear infinite;
}
.heart:nth-child(26) {
  -webkit-transform: translateX(-229px) translateZ(-214px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-229px) translateZ(-214px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(26) .movable {
  -webkit-animation: drop 5000ms 1390ms linear infinite;
          animation: drop 5000ms 1390ms linear infinite;
}
.heart:nth-child(26) .ring {
  -webkit-animation: wave 5000ms 5290ms ease-out infinite;
          animation: wave 5000ms 5290ms ease-out infinite;
}
.heart:nth-child(26) .inner {
  -webkit-animation: rotation 3871ms linear infinite;
          animation: rotation 3871ms linear infinite;
}
.heart:nth-child(27) {
  -webkit-transform: translateX(37px) translateZ(-230px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(37px) translateZ(-230px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(27) .movable {
  -webkit-animation: drop 5000ms 132ms linear infinite;
          animation: drop 5000ms 132ms linear infinite;
}
.heart:nth-child(27) .ring {
  -webkit-animation: wave 5000ms 4032ms ease-out infinite;
          animation: wave 5000ms 4032ms ease-out infinite;
}
.heart:nth-child(27) .inner {
  -webkit-animation: rotation 3553ms linear infinite;
          animation: rotation 3553ms linear infinite;
}
.heart:nth-child(28) {
  -webkit-transform: translateX(279px) translateZ(-757px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(279px) translateZ(-757px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(28) .movable {
  -webkit-animation: drop 5000ms 691ms linear infinite;
          animation: drop 5000ms 691ms linear infinite;
}
.heart:nth-child(28) .ring {
  -webkit-animation: wave 5000ms 4591ms ease-out infinite;
          animation: wave 5000ms 4591ms ease-out infinite;
}
.heart:nth-child(28) .inner {
  -webkit-animation: rotation 4173ms linear infinite;
          animation: rotation 4173ms linear infinite;
}
.heart:nth-child(29) {
  -webkit-transform: translateX(-336px) translateZ(137px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-336px) translateZ(137px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(29) .movable {
  -webkit-animation: drop 5000ms -516ms linear infinite;
          animation: drop 5000ms -516ms linear infinite;
}
.heart:nth-child(29) .ring {
  -webkit-animation: wave 5000ms 3384ms ease-out infinite;
          animation: wave 5000ms 3384ms ease-out infinite;
}
.heart:nth-child(29) .inner {
  -webkit-animation: rotation 2710ms linear infinite;
          animation: rotation 2710ms linear infinite;
}
.heart:nth-child(30) {
  -webkit-transform: translateX(-173px) translateZ(-496px) scale3d(0.5, 0.5, 0.5);
          transform: translateX(-173px) translateZ(-496px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(30) .movable {
  -webkit-animation: drop 5000ms 5ms linear infinite;
          animation: drop 5000ms 5ms linear infinite;
}
.heart:nth-child(30) .ring {
  -webkit-animation: wave 5000ms 3905ms ease-out infinite;
          animation: wave 5000ms 3905ms ease-out infinite;
}
.heart:nth-child(30) .inner {
  -webkit-animation: rotation 2982ms linear infinite;
          animation: rotation 2982ms linear infinite;
}
@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(20px) grayscale(150%);
            filter: blur(20px) grayscale(150%);
  }
  100% {
    -webkit-filter: blur(10px) grayscale(50%);
            filter: blur(10px) grayscale(50%);
  }
}
@keyframes blur {
  0% {
    -webkit-filter: blur(20px) grayscale(150%);
            filter: blur(20px) grayscale(150%);
  }
  100% {
    -webkit-filter: blur(10px) grayscale(50%);
            filter: blur(10px) grayscale(50%);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 3;
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 3;
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
            transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
    opacity: 2;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
            transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
    opacity: 0;
  }
}
@keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
            transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
    opacity: 2;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
            transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
    opacity: 0;
  }
}
@-webkit-keyframes wing {
  0% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes wing {
  0% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
#whiteCover {
  position: absolute;
  width: 100vw;
  background-color: #ffffff9e;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 1;
}
.mah {
  -webkit-animation: heartbeat 1s infinite;
          animation: heartbeat 1s infinite;
  display: inline-block;
}
#nama {
  font-size: 10vw;
}
#ucapan {
  font-size: 5vw;
}
#sayangku {
  font-family: 'Yellowtail', cursive;
}
#ucapan {
  font-family: 'Aref Ruqaa', serif;
}
#tahun {
  font-family: 'Pushster', cursive;
  margin-top: 35%;
}
#surat {
  font-family: 'Caveat', cursive;
  margin-top: 50%;
}
@media screen and (max-width: 768px) {
  #tahun span:first-child {
    font-size: 3rem;
  }
  #surat {
    font-size: 1rem;
  }
}
#tahun span:first-child {
  font-size: 8vw;
}
@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
